<title>{{title}}{{title_suffix}}</title>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes">
<base href="{{root}}/">
<link rel="stylesheet" href="styles.css"/>
<script>
var base_href = '{{root}}', ws_address = '{{ws}}'
</script>
<script src="js/ws.js"></script>
